seed: 0
debug: false

mode: clip
exp_name: clip
checkpoint_dir: /home/ANON-USER/scratch/ckpt/${data.dataset}/${mode}_fold=${data.fold}_j${slurm_job_id}
save_weights: false
#checkpoint_dir: null #/h/ANON-USER/medcbr/.ckpt/${slurm_job_id}

pretrained: true
pretraining:
  data: breast
  style: clip
from_ckpt: null # /h/ANON-USER/medcbr/_checkpoint/biomedclip-${pretraining.data}/model_pureclip1.pth

wandb:
  name: ${exp_name}_fold=${data.fold}_slurmid=${slurm_job_id}
  project: MedCBM
  group: biomedclip
  tags: 
  log_images: false

slurm:
  qos: m2
  mem: 32G
  gpu: gpu:a40:1
  time: 8:00:00

data:
  dataset: DDSM
  data_dir: /h/ANON-USER/medcbr/data/${data.dataset}
  fold: 0
  num_folds: 5
  splitting: kfold_patients
  sampling: undersample
  sampling_ratio: 1.0
  crop_rois: true # whether to crop the images to the ROIs
  image_size: 224

  batch_size: 24
  augmentations:
    - translation
    - rotate
    - flip

  use_llm_output: false
  datasets: ["BrEaST", "BUSBRA"] # datasets to use, can be ["BrEaST", "BUSBRA", "ALL"]

training:
  num_epochs: 300
  lr_scheduler: cosine
  pretrained: false
  from_ckpt: /checkpoint/ANON-USER/16902799/model_epoch299_auc0.55.ckpt
  accumulate_grad_steps: 1

optimizer:
  name: adamw
  lr: 1e-05
  wd: 0 # weight decay
  frozen_epochs: 0
  warmup_epochs: 30

cbm:
  num_concepts: 30
  num_birads: 6 # 0, 1, 2, 3, 4, 5
  num_classes: 2
  concepts: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
  backbone: resnet50
  architecture: base
  gamma: 2.0
  concept_weights: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

loss:
  det_loss: ce
  concept_loss: ce
  birads_loss: ce

clip:
  d: 512
  embedding_dim: 512
  adapter_dim: 512
  mode: clip_sup # clip, clip_sup, clip_semi
  clip_weight: 0.0
  det_weight: 1.0
  concept_weight: 0.0
  birads_weight: 0.0
  use_llm_output: false
  backbone: vit

metrics:
  tune_threshold: true

device: cuda
use_amp: false